AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password
LOCALSTACK_URL=http://localhost:4566
MEMBER_SERVICE_URL=http://localhost:8081
FILE_SERVICE_URL=http://localhost:8082
MAIL_SERVICE_URL=http://localhost:8083
AUTH_SERVICE_URL=http://localhost:8084
MASTER_SERVICE_URL=http://localhost:8085
