AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password
LOCALSTACK_URL=http://localhost:4566
MEMBER_SERVICE_URL=http://localhost:8081
FILE_SERVICE_URL=http://localhost:8082
MAIL_SERVICE_URL=http://localhost:8083
AUTH_SERVICE_URL=http://localhost:8084
MASTER_SERVICE_URL=http://localhost:8085

# AWS Infrastructure (from CDK)
AWS_SNS_MEMBER_EVENTS_TOPIC_ARN=arn:aws:sns:ap-northeast-1:000000000000:member-events
AWS_SNS_FILE_EVENTS_TOPIC_ARN=arn:aws:sns:ap-northeast-1:000000000000:file-events
AWS_SQS_MAIL_QUEUE_URL=http://sqs.ap-northeast-1.localhost.localstack.cloud:4566/000000000000/mail-queue
AWS_S3_FILE_STORAGE_BUCKET_NAME=demo-file-storage
